.guidecss {
    img {
        margin: 0;
        display: initial;
    }

    th {
        width: 50%;
    }

    blockquote {
        color: wheat;

        a {
            color: wheat;
        }
    }

    code{
        color: #414141;
        background-color: #f3f3f3;
    }
     


}